@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

html,
body {
  /* font-family: "Arvo", Georgia, "Times New Roman", Times, serif; */
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}

h2 {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}

footer a,
footer a:visited,
footer a:active {
  color: #eee;
}

footer ul {
  list-style: none;
}
