---
title: "naked-table-sort"
cssFiles: ["./css/index.css"] 
jsFiles: ["./js/index.js"]
tags: ["web components"]
publish: 2025-07-03T17:22:00.000Z
draft: true
summary: "A simple web component to sort tables"
---

<p>TODO</p>

<p>DONE fix tags, filter out category tags</p>
<p>Write readme for sort</p>
<p>Add demo page on my website</p>
<p>Write naked components parent page with licences</p>