---
title: Projects
layout: base
eleventyNavigation:
  key: projects
  order: 3
override:tags: []
---

<article  class="pg-flow">
  <h2>Projects</h2>
    <p>Documenting work projects and personal side projects.</p>
    {% set cardList = collections.project %}
    {% set cardSummary = "summary" %}
    {% set cardIcon = "icon-packages" %}
    {% include "card-list.njk" %}
</article>

