{% if cardList | length === 0 %}
    <div class="pg-card pg-flow">
        <p>*Tumbleweed gif* (It's 49Mb so I'm using text instead...)</p>
        <p>Nothing to see here! I'm obviously working hard to create the first piece of content for this section, otherwise, what's the point of having it? Alternatively, I've renamed some small thing and broken this section, sorry if that's the case. Finally, I may have deleted all my content, in which case, I'm away for a small cry.</p>
    </div>
{% else %}
    {% set cardLimit = cardLimit or 5 %}

    <ol reversed class="pg-card-list">

        {% for card in cardList | reverse %}
            {% if loop.index0 < cardLimit %}
                <li>
                    <article class="pg-card pg-flow">
                        <a href="{{ card.url }}">
                            {% if cardIcon %}
                                {% include "../../website-source/_shared/images/icons/" + cardIcon + ".svg" %}
                            {% endif %}
                            
                            <h3>{{card.data.title}}</h3>
                        </a>

                        <time datetime="{{ card.date | htmlDateString }}">{{ card.date | readableDate("dd LLLL yyyy") }}</time>
                        {% if cardSummary %}
                        <div class="pg-summary">{{card.data[cardSummary]}}</div>
                        {% endif %}

                        {% set tagList = card.data.tags | sort %}
                        {% include "tag-list.njk" %}
                        
                    </article>
                    
                </li>
            {% endif %}
        {% endfor %}

    </ol>
{% endif %}
