<footer id="footer" class="">

  <div class="pg-column-main">
    <p><a href="/tags/">Tags</a></p>
    <p><a href="/reading/">Reading list</a></p>
    <p>Built with <a href="https://11ty.dev/" target="_blank">Eleventy v3.0.0</a></p>
 <p><a rel="me" href="https://glasgow.social/@patrick" target="_blank">Get me on Mastodon</a></p>
</div>

</footer>
