<footer id="footer" class="">

  <div class="pg-column-main">
    <p><a href="/tags/">Tags</a></p>
  
    <p>Built with <a href="https://11ty.dev/" target="_blank">Eleventy v3.0.0</a></p>
  </div>

</footer>