{% if noteLimit %}
    {% set forLimit = noteLimit %}
{% else %}
    {% set forLimit = 5 %}
{% endif %}
<ol reversed class="pg-list pg-list-notes">
    {% for note in notelist | reverse %}
        {% if loop.index0 < forLimit %}
            <li class="notelist-item{% if note.url == url %} notelist-item-active{% endif %}">

                <a href="{{ note.url }}" class="notelist-link">
                    {% if note.data.title %}{{ note.data.title | trim | striptags(false) }}{% else %}
                        {{ note.url | trim }}
                    {% endif %}</a><time class="notelist-date" datetime="{{ note.date | htmlDateString }}">{{ note.date | readableDate("dd LLLL yyyy") }}</time>

                <ul class="pg-tags-list">
                    {% for tag in note.data.tags %}
                        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                        <li>
                            <a href="{{ tagUrl }}" class="pg-tag">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </li>
        {% endif %}
    {% endfor %}
</ol>