{% if noteLimit %}
    {% set forLimit = noteLimit %}
{% else %}
    {% set forLimit = 5 %}
{% endif %}
<ol reversed class="pg-list pg-list-notes">
    {% for note in notelist | reverse %}
        {% if loop.index0 < forLimit %}
            <li class="notelist-item{% if note.url == url %} notelist-item-active{% endif %}">
                <a href="{{ note.url }}" class="notelist-link">
                    {% if note.data.title %}{{ note.data.title | striptags(false) }}
                    {% else %}
                        <code>{{ note.url }}</code>
                    {% endif %}
                    <time class="notelist-date" datetime="{{ note.date | htmlDateString }}">{{ note.date | readableDate("dd LLLL yyyy") }}</time>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ol>