---
permalink: /tags/
---
<article>
  <div class="pg-column-main flow">
    <h1>Tags</h1>

    {% set tagList = collections.all | getAllTags | sort %}
    {% include "tag-list.njk" %}


  </div>
</article>