---
permalink: /tags/
---
<article>
  <div class="pg-column-main">
    <h1><em>Tags</em></h1>

    <ul>
        {% for tag in collections.all | getAllTags | filterTagList %}
            {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li>
                <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>


  </div>
</article>