---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

<article>
  <div class="pg-column-main">
    <h1>Tagged <span class="pg-tag">{{ tag }}</span></h1>

    {% set notelist = collections[tag] %}
    {% include "note-list.njk" %}

    <p>See <a href="/tags/">all tags</a>.</p>

  </div>
</article>