---
title: Remove a page from a tag collection
published: 2023-11-21
tags: ["11ty", "front matter", "collection"]
---
<h2>Solution</h2>

<code>
  ---<br>
  override:tags: []<br>
  ---
</code>

<h2>Explanation</h2>

<p>I use an <code>11tydata.js</code> file to set a tag for all posts within a directory.</p>

<p>I also have a 'contents' page for these posts. I don't want this 'contents' page to be listed in lists of posts on other pages (and the contents page).</p>