---
title: "Don't use Date.getMonth() to increment months"
published: 2024-07-04
updated: 2024-07-04
tags: ["javascript"]
draft: true
---
<p>I wanted to increment short months and year for a timeline so:</p>
<p>Jan 24, Feb 24, Mar 24... Jan 25 etc</p>
<p>Date.getMonth() adds the number of days from the previous month to the next one so short months like will be skipped :-(</p>
<p>I just ended up incrementing numbers and converting them to dates:</p>
<code>
    <pre>
        let tempDate = new Date();
        tempDate.setMonth(incrementedNumber)
        const monthName = tempDate.toLocaleString('default', { month: 'short' })
    </pre>
</code>