---
title: TIL you can transition stops in an SVG linear gradient
published: 2024-01-07
updated: 2024-01-07
tags: ["svg", "css"]
draft: true
---

{# https://www.hoeser.dev/blog/2023-02-01-syntax-highlight/ #}

Credit: https: //stackoverflow.com/questions/26675099/on-hover-change-svg-from-colour-to-gradient-with-a-transition