---
title: Accessibility Statement for my personal site
layout: base
tags: ["accessibility"]
permalink: accessibility.html
---
<h2>{{title}}</h2>

<!-- 
https://www.w3.org/WAI/planning/statements/

https://www.gov.uk/government/publications/sample-accessibility-statement/sample-accessibility-statement-for-a-fictional-public-sector-website 

https://adrianroselli.com/2022/11/your-accessibility-claims-are-wrong-unless.html
 -->


<p>I generated this accessibility statement with the help of the <a href="https://www.w3.org/WAI/planning/statements/generator/" target="_blank">W3C Accessibility Statement Generator Tool</a> on <time datetime="2025-06-28"> 28 June 2025</time>.</p>


<p>I'm committed to making this site accessibile for people with disabilities, and thereby improving it for everyone.</p>

<h3>Measures to support accessibility</h3>

<p>Patrick Grey takes the following measures to ensure accessibility of Personal site:</p>

<ul>
    <li>I aim to continually improve (my admittedly limited) accessibility testing skills.</li>
    <li>I have assigned clear accessibility goals and responsibilities.</li>
</ul>

<h3>Conformance status</h3>

<p>The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. Personal site is partially conformant with WCAG 2.2 level AA. Partially conformant means that some parts of the content do not fully conform to the accessibility standard.</p>

<p>I need to improve the following:</p>

<ul>
    <li>Test with more assistive technologies on different browsers and systems.</li>
    <li>Pay users with disabilities to check my site.</li>
</ul>

<h4>Additional accessibility considerations</h4>

<p>Although our goal is WCAG 2.2 Level AA conformance, I have also applied some Level AAA Succes by using the WCAG Contrast checker chrome plugin in the Vivaldi browser during development.</p>

<h3>Feedback</h3>

<p>I welcome your feedback on the accessibility of Personal site. Please let us know if you encounter accessibility barriers on Personal site:</p>

<ul>
    <li><a href="https://glasgow.social/@patrick" target="_blank">Please contact me on mastodon</a></li>
</ul>

<p>I will create a specific email for reports.</p>

<h3>Compatibility with browsers and assistive technology</h3>

<p>This personal site is designed to be compatible with the following assistive technologies:</p>

<ul>
    <li>Chrome using NVDA on Windows 11</li>
</ul>

<p>This personal site is not compatible with:</p>

<ul>
    <li>Internet Explorer 1</li>
</ul>

<h3>Technical specifications</h3>

<p>Accessibility of Personal site relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:</p>

<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
</ul>

<p>These technologies are relied upon for conformance with the accessibility standards used.</p>

<h3>Assessment approach</h3>

<p>Patrick Grey assessed the accessibility of Personal site by the following approaches:</p>

<ul>
    <li>Self-evaluation</li>
</ul>