---
title: Accessibility Statement
layout: base
tags: ["accessibility"]
permalink: accessibility.html
---
<h2>{{title}}</h2>

<p><a href="#statement">Skip to the statement</a></p>

<h3>Background</h3>

<p>I didn't know how to use NVDA properly in order to test this site. For example, when I started tabbing, I'd miss out large parts of text or I didn't know how to skip the tag lists in each card (which quickly became annoying). Would I need to provide a skip or can users do this if properly announced?</p>

<p> 
    <a href="https://www.youtube.com/watch?v=HAVs5GhwxtE&t=20s">Tutorial</a>
</p>

<h3 id="statement">Statement</h3>