---
title: Patrick Grey
layout: base
cssFiles: ["/index.css"]
jsFiles: ["/index.js"]
eleventyNavigation:
  key: home
  order: 1
---



<article>

  
    
    <div class="pg-column-main flow">  
      <h1>Hello!</h1>  

      <p>I'm <strong>Patrick Grey</strong>. Welcome to my personal website. I'm a front-end developer living in the Mid&#8209;Argyll area of Scotland.</p>

      <p>I have a web development business called <a href="https://risingsky.co.uk" target="_blank">Rising Sky</a>. Take a look, maybe I can help you on your next project!</p>

      <p>This is where I note things I learn to help me find them again later. I also play with new techniques here. <!--There's also miscellaneous content like my reading list.--></p>

      <p>You can <a href="https://glasgow.social/@patrick" target="_blank">find me on Mastodon</a>. Feel free to say hi, I really enjoy talking to all sorts of people, especially nerds.</p>

      <p>I'm developing this page in the wild! (insert under construction gif here)</p>
    </div>

    <div>
      <div class="pg-column-main flow"> 
        <h2>Recent notes</h2>
        {% set notelist = collections.note %}
        {% set noteIcon = "note" %}
        {% include "note-list.njk" %}
      </div>
    </div>

</article>
