---
cssFiles: []
jsFiles: []
---

{% set env = devEnvironment.environment %}

{% if env === 'dev' %}
    {% set buildURL = "" %}
{% else %}
    {% set buildURL = "../../website-source/_shared/" %}
{% endif %}

<!DOCTYPE html>
<html lang="en"  data-is-dev={% if env === 'dev' %}"true"{% else %}"false"{% endif %}>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title | striptags(false) }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="theme-color" content="#ffffff">

        <link rel="icon" type="image/svg+xml" href="/_shared/favicons/favicon.svg">
<link rel="icon" type="image/png" href="/_shared/favicons/favicon.png">

        {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

        {% set cssHighlight %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endset %}
        {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
        <style>
            {{cssHighlight | cssmin | safe}}

            .token.constant,
            .token.deleted,
            .token.property,
            .token.symbol,
            shared .token.tag {
                color: hotpink !important;
            }
        </style>

        {% if env === 'dev' %}
            <link rel="stylesheet" href="/_shared/css/reset.css">
            <link rel="stylesheet" href="/_shared/css/brand.css">
            <link rel="stylesheet" href="/_shared/css/shared.css">
        {% else %}
            {% set css %}
            {% include "../../website-source/_shared/css/reset.css" %}
            {% include "../../website-source/_shared/css/brand.css" %}
            {% include "../../website-source/_shared/css/shared.css" %}
            {% endset %}
            <style>
                {{css | cssmin | safe}}
            </style>
        {% endif %}

        {% for file in cssFiles %}
            <link rel="stylesheet" href="{{file}}">
        {% endfor %}

        {% if env === 'dev' %}
            <script defer src="/_shared/js/shared.js"></script>
        {% endif %}

        {% for file in jsFilesExternal | reverse %}
            <script defer src="{{file}}"></script>
        {% endfor %}

        {% for file in jsFiles %}
            <script type="module" defer src="{{file}}"></script>
        {% endfor %}

    </head>

    <body>

        <div class="pg-skip pg-column-main">
            <p>
                <a href="#main">Skip to main content</a> or <a href="#footer">the footer</a>.</p>
        </div>

        <div class="pg-full-height">
            
            <div class="pg-column-main">
                <header>
    
                    <img src="/_shared/images/header/header-0.jpg" alt="A photo taken from a hill with woodland at bottom and the sea and islands beyond. The furthest island mountains have snow on them. It's a sunny day with blue skies. The view is from above Crinan with the isle of Jura in the background." sizes="(max-width: 600px) 600px, ((min-width: 601px) and (max-width: 999px)) 1000px, ((min-width: 1000px) and (max-width: 1920px)) 1920px">
    
                    {# <div class="pg-logo-container  pg-column-main"> #}
                        <a href="/" class="pg-logo">
                            <span class="visually-hidden">Go to the home page.</span>{% include "../../website-source/_shared/images/logo/pg-logo-01.svg" %}</a>
                        </a>
                    {# </div> #}
    
    
                    <nav>
                        <ul>
                            {% set navPages = collections.all | eleventyNavigation %}
                            {% set navActiveClass = "is-active" %}
                            {%- for navItem in navPages %}
                                {# Check that the item url is first in the page url so that e.g. tags/article doesn't make article active #}
                                {% set urlArray = page
                                    .url
                                    .split("/") %}
    
                                {% if (navItem.url == "/") %}
                                    <li {% if navItem.url == page.url %}class="{{navActiveClass}}"{% endif %}>
                                        <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                                    </li>
                                {% elif navItem.url and page.url %}
                                    <li{% if navItem.url == "/"+urlArray[1]+"/" %} class="{{navActiveClass}}"{% endif %}>
                                        <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                                    </li>
                                {% endif %}
    
                            {%- endfor %}
    
                        </ul>
                    </nav>
    
                </header>

                <!--<div class="pg-header-control">
                    <p>Control panel</p>
                </div>-->
            </div>

            
            <main id="main">
                {{ content | safe }}
            </main>
                        
            {% include "../_components/footer.njk" %}

            
        </div>

        {% if env != 'dev' %}
            {% set js %}
            {% include "../../website-source/_shared/js/shared.js" %}
            {% endset %}
            <script>
                {{js | jsmin | safe}}
            </script>
        {% endif %}

    </body>

</html>
