---
cssFiles: []
jsFiles: []
---

{% set env = devEnvironment.environment %}

{% if env === 'dev' %}
    {% set buildURL = "" %}
{% else %}
    {% set buildURL = "../../website-source/_shared/" %}
{% endif %}

<!DOCTYPE html>
<html lang="en"  data-is-dev={% if env === 'dev' %}"true"{% else %}"false"{% endif %}>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title | striptags(false) }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:title" content="{{ title | striptags(false) }}">
        <meta property="og:url" content="{{ metadata.url + page.url | url }}">
        <meta property="og:description" content="{{ description or metadata.description }}">
        <meta name="fediverse:creator" content="@patrick@glasgow.social">
        <meta property="og:image" content="{{ metadata.url }}/_shared/images/header/ogImage.jpg">

        

        <link rel="me" href="https://glasgow.social/@patrick">
        
        <link rel="icon" type="image/svg+xml" href="/_shared/favicons/favicon.svg">
        <link rel="icon" type="image/png" href="/_shared/favicons/favicon.png">

        {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        {# <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> #}

        {% set cssHighlight %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endset %}
        {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
        <style>
            {{cssHighlight | cssmin | safe}}

            .token.constant,
            .token.deleted,
            .token.property,
            .token.symbol,
            .token.tag {
                color: #ff94c9 !important;
            }

            pre {
                counter-reset: lineNumber;
            }

            code[class*=language-], pre[class*=language-] {
                font-size: 0.8em;
                margin-block: 0;
                border-radius:0;
            }

            code .highlight-line::before {
                -webkit-user-select: none;
                border-right: 1px solid #404040;
                color: #858585;
                content: counter(lineNumber);
                counter-increment: lineNumber;
                display: inline-block;
                font-variant-numeric: tabular-nums;
                margin-right: 1.2em;
                padding-right: 1.2em;
                text-align: right;
                width: 2.4em;
            }

            pre[data-language]::before {
                content: attr(data-language);
                color: yellow;
                transform: translateX(0.5rem) translateY(-1rem);
                pointer-events: none;
                text-align: end;
                text-transform: uppercase;
                z-index: 1;
                margin-block-end: -24px;
                padding: 6px;
                font-size: 12px;
                font-style: italic;
                line-height: 1;
                display: block;
                position: sticky;
                inset-inline-start: 0;
            }
        </style>

        {% if env === 'dev' %}
            <link rel="stylesheet" href="/_shared/css/reset.css">
            <link rel="stylesheet" href="/_shared/css/brand.css">
            <link rel="stylesheet" href="/_shared/css/shared.css">
        {% else %}
            {% set css %}
            {% include "../../website-source/_shared/css/reset.css" %}
            {% include "../../website-source/_shared/css/brand.css" %}
            {% include "../../website-source/_shared/css/shared.css" %}
            {% endset %}
            <style>
                {{css | cssmin | safe}}
            </style>
        {% endif %}

        {% for file in cssFiles %}
            <link rel="stylesheet" href="{{file}}">
        {% endfor %}

        <link rel="stylesheet" media="print" href="/_shared/css/print.css">

        {% if jsImports.length > 0 %}
        <script type="importmap">
            {
                "imports": {
                    {% for file in jsImports %}
                    "{{file.name}}": "{{file.path}}"
                    {%- if not loop.last -%}
                    ,
                    {% endif %}
                    {% endfor %}
                }
            }
        </script>
        {% endif %}

        {% if env === 'dev' %}
            <script defer src="/_shared/js/shared.js"></script>
        {% endif %}

        {% for file in jsFilesExternal | reverse %}
            <script defer src="{{file}}"></script>
        {% endfor %}

        {% for file in jsFiles %}
            <script defer type="module" src="{{file}}"></script>
        {% endfor %}

       

    </head>

    <body>

        <div class="pg-skip pg-column-main">
            <p>
                <a href="#main">Skip to main content</a>
            </p>
        </div>
            
        <div class="pg-full-height">

            <header class="pg-flow">

                <div class="pg-profile-container">
                    <div class="pg-profile-container-inner">
                        <div class="pg-profile-image-bottom"><img src="/_shared/images/me-01.jpg" alt="Picture of Patrick's face"></div>
                        {%include '../../website-source/_shared/images/me-disguises-01.svg'%}
                        <div class="pg-profile-image-top"><img src="/_shared/images/me-side-01.jpg" alt="Picture of Patrick's face - side profile trying desperately to restrain double chin."></div>
                    </div>                    
                    
                    <a href="#about"><span  class="pg-visually-hidden">Jump to about Patrick Grey</span> {%include '../../website-source/_shared/images/icons/icon-info-circle.svg'%}</a>
                </div>

                <h1>Patrick Grey</h1>
                <p>Web developer, e&#8209;learning specialist &amp; master of disguise</p>                    


                <aside class="pg-contact">
                    <p class="pg-visually-hidden">Contact me!</p>
                    <ul class="pg-socials">
                        <li><a href="https://glasgow.social/@patrick" target="_blank">
                        {% include "../../website-source/_shared/images/icons/icon-mastodon.svg" %}
                        <span class="pg-visually-hidden">https://glasgow.social/@patrick</span></a></li>

                        <li><a href="https://codeberg.org/patrickgrey/" target="_blank">
                        {% include "../../website-source/_shared/images/icons/codeberg-logo_icon_white.svg" %}
                        <span class="pg-visually-hidden">https://codeberg.org/patrickgrey/</span></a></li>

                        <li><a href="https://github.com/patrickgrey" target="_blank">
                        {% include "../../website-source/_shared/images/icons/icon-github.svg" %}
                        <span class="pg-visually-hidden">https://github.com/patrickgrey</span></a></li>

                        <li><a href="/feed/feed.xml" >
                        {% include "../../website-source/_shared/images/icons/icon-rss-doc.svg" %}
                        <span class="pg-visually-hidden">
                            RSS</span></a></li>

                        <li>
                            <a href="https://en.wikipedia.org/wiki/Elon_Musk_salute_controversy" target="_blank" >
                            {% include "../../website-source/_shared/images/icons/icon-no-twitter.svg" %}
                            <span class="pg-visually-hidden">Please don't use twitter.</span>
                            </a></li>
                    </ul>
                </aside>

                <nav>
                    <ul>

                        {%- for entry in collections.all | eleventyNavigation %}
                        <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" class="pg-is-active"{% endif %}>{{ entry.title }}

                        {% if "/notes/" in  entry.url %} 
                            <span>{{collections.note.length or 0}}</span>
                        {% elif "/projects/" in  entry.url %} 
                            <span>{{collections.project.length or 0}}</span>
                        {% elif "/reading/" in  entry.url %} 
                            <span>{{collections.reading.length or 0}}</span>
                        {% endif %}

                        </a></li>
                        {%- endfor %}
                    </ul>
                </nav>

                

                {# <section class="pg-tags">
                    <h2 class="pg-visually-hidden">Tags</h2>
                    
                    <div class="pg-skip">
                        <p><a class="pg-mbe-s" href="#main">Skip tags list</a></p>
                    </div>

                    {% set tagList = collections.all | getAllTags | sort %}
                    {% set tagsScroll = true %}
                    {% include "tag-list.njk" %}
                </section> #}


            </header>           

            
            <main id="main"  class="pg-column-main">
                <div class="pg-main-inner pg-flow">
                    {{ content | safe }}
                </div>
            </main>
                        
            <footer id="footer" class="pg-flow">
                <div class="pg-flow pg-about">
                <h2 id="about">About <a href="#top" class="pg-icon-link"><span class="pg-visually-hidden">Back to top</span>{%include '../../website-source/_shared/images/icons/icon-arrow-down.svg'%}</a></h2>
                    <p>I've worked with clients across Europe, from large international organisations to local community clubs, helping them convert their ideas into effective, human-friendly websites.</p>
            
                            <p>This is where I write down what I'm learning, what I've been reading and demo personal projects.</p>
            
                            <p>If you need help with a project, I'm available to hire via my company, <a href="https://risingsky.co.uk" target="_blank">Rising Sky</a>.</p>
                </div>
                {# https://www.w3.org/WAI/planning/statements/ #}
                <p><a href="/accessibility.html">Accessibility statement</a></p>
                <p>View <a href="/tags/">all tags</a></p>
                <p class="pg-ai">No {%include '../../website-source/_shared/images/icons/icon-sparkles.svg'%}AI{%include '../../website-source/_shared/images/icons/icon-sparkles.svg'%} 🙄 is used to create the content of this site.</p>
                <p>Built with <a href="https://11ty.dev/" target="_blank">{{ eleventyinfo.packageName}}:  {{eleventyinfo.packageVersion}}</a> 😍</p>
                <p>Unless otherwise noted, all code is free to use under the <a href="/licence.html">MIT Licence</a>.</p>
                <p>&copy; Patrick Grey</p>
            </footer>
        </div>

        {% if env != 'dev' %}
            {% set js %}
            {% include "../../website-source/_shared/js/shared.js" %}
            {% endset %}
            <script>
                {{js | safe}}
            </script>
        {% endif %}

    </body>

</html>
