---
title: 
layout: base
cssFiles: []
jsFiles: []
---
<article>
    
    <div class="pg-flow">
        <h2>{{title}}</h2>

        <section class="pg-tags-no-scroll">
            <ul>
                {% for tag in tags %}
                    <li>
                        <a href="/tags/{{ tag | slugify }}/">{{tag}}</a>
                    </li>
                {% endfor %} 
            </ul>
        </section>
        <p class="pg-published">Published: <datetime>{{publish | readableDate}}</datetime></p>
        {% if update %}<p>Updated: <datetime>{{update | readableDate}}</datetime></p>{% endif%}
        {{ content | safe }}
    </div>

</article>