---
title: 
layout: base
cssFiles: []
jsFiles: []
---
    
<h2>{{title}}</h2>

{% set tagList = tags | sort %}
{% include "tag-list.njk" %}
<p class="pg-published">Published: <datetime>{{publish | readableDate}}</datetime></p>
{% if update %}<p class="pg-published">Updated: <datetime>{{update | readableDate}}</datetime></p>{% endif%}
{{ content | safe }}

