/*
##     ##    ###    ########   ######
##     ##   ## ##   ##     ## ##    ##
##     ##  ##   ##  ##     ## ##
##     ## ##     ## ########   ######
 ##   ##  ######### ##   ##         ##
  ## ##   ##     ## ##    ##  ##    ##
   ###    ##     ## ##     ##  ######
*/

:root {

    /* FONT SCALE */
    /* --font-size--2: clamp(0.7813rem, 0.6356rem + 0.7283vw, 1.2rem);
    --font-size--1: clamp(0.9375rem, 0.7418rem + 0.9783vw, 1.5rem);
    --font-size-0: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --font-size-1: clamp(1.35rem, 1.0043rem + 1.7283vw, 2.3438rem);
    --font-size-2: clamp(1.62rem, 1.1643rem + 2.2783vw, 2.93rem);
    --font-size-3: clamp(1.9438rem, 1.3461rem + 2.988vw, 3.6619rem);
    --font-size-4: clamp(2.3325rem, 1.5516rem + 3.9043vw, 4.5775rem);
    --font-size-5: clamp(2.7994rem, 1.7829rem + 5.0826vw, 7.7219rem);

    --font-size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --font-size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --font-size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --font-size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --font-size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --font-size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --font-size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --font-size-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem); */

    --font-size--2: clamp(0.7813rem, 0.7302rem + 0.2554vw, 0.96rem);
    --font-size--1: clamp(0.9375rem, 0.8625rem + 0.375vw, 1.2rem);
    --font-size-0: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
    --font-size-1: clamp(1.35rem, 1.2rem + 0.75vw, 1.875rem);
    --font-size-2: clamp(1.62rem, 1.4132rem + 1.0339vw, 2.3438rem);
    --font-size-3: clamp(1.944rem, 1.6624rem + 1.4081vw, 2.9297rem);
    --font-size-4: clamp(2.3328rem, 1.953rem + 1.899vw, 3.6621rem);
    --font-size-5: clamp(2.7994rem, 2.2913rem + 2.5404vw, 4.5776rem);

    /* SPACE SCALE */
    --space-3xs: clamp(0.3125rem, 0.2473rem + 0.3261vw, 0.5rem);
    --space-2xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs: clamp(0.875rem, 0.6793rem + 0.9783vw, 1.4375rem);
    --space-s: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m: clamp(1.6875rem, 1.2962rem + 1.9565vw, 2.8125rem);
    --space-l: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl: clamp(3.375rem, 2.5924rem + 3.913vw, 5.625rem);
    --space-2xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
    --space-3xl: clamp(6.75rem, 5.1848rem + 7.8261vw, 11.25rem);

    --pg-font-body: Charter,
        'Bitstream Charter',
        'Sitka Text',
        Cambria,
        serif;
    --pg-font-headers: Rockwell,
        'Rockwell Nova',
        'Roboto Slab',
        'DejaVu Serif',
        'Sitka Small',
        serif;
    --pg-font-mono: ui-monospace,
        'Cascadia Code',
        'Source Code Pro',
        Menlo,
        Consolas,
        'DejaVu Sans Mono',
        monospace;

    --pg-max-width: 70ch;
    --pg-max-width-header: 125rem;

    --pg-border-width: var(--space-xs);
    --pg-header-height: 40vh;

    --pg-bg-alpha: 0.05;

    --pg-colour-dark: #333;
    --pg-colour-mid: #666;
    --pg-colour-light-grey: rgba(51, 51, 51, var(--pg-bg-alpha));
    --pg-colour-highlight: yellow;
    --pg-colour-outline: hotpink;


}

@media (prefers-color-scheme: dark) {
    :root {
        /* --rs-colour-ec-dark-blue: white; */
    }
}

/*
########     ###     ######  ########
##     ##   ## ##   ##    ## ##
##     ##  ##   ##  ##       ##
########  ##     ##  ######  ######
##     ## #########       ## ##
##     ## ##     ## ##    ## ##
########  ##     ##  ######  ########
*/

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    --pg-bg-size: 0.5rem;
    --pg-bg-position: calc(var(--pg-bg-size) / 2);
    font-family: var(--pg-font-body);
    font-weight: normal;
    font-size: var(--font-size-0);
    background-color: whitesmoke;
    color: var(--pg-colour-dark);
    /* background-color: #f5f5f5; */
    background-image: radial-gradient(circle at center,
            rgba(51, 51, 51, var(--pg-bg-alpha)) 1px,
            transparent 0), radial-gradient(circle at center, rgba(51, 51, 51, var(--pg-bg-alpha)) 1px, transparent 0);
    background-size: var(--pg-bg-size) var(--pg-bg-size);
    background-position: 0 0, var(--pg-bg-position) var(--pg-bg-position);
}

*::selection {
    background-color: var(--pg-colour-highlight);
    color: var(--pg-colour-dark);
}

*:focus-visible {
    outline: 2px solid var(--pg-colour-outline);
    /* outline-offset: 2px; */
}

p {
    max-width: var(--pg-max-width);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-wrap: balance;
}

h1 {
    font-size: var(--font-size-5);
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-m);
}

h1>span.pg-tag {
    font-size: var(--font-size-1);
}

@media not (scripting: enabled) {
    h1 {
        margin-block-start: var(--space-xl);
    }
}

h2 {
    font-size: var(--font-size-3);
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-s);
}

h3 {
    font-size: var(--font-size-1);
    font-weight: 400;
}


h4 {
    font-size: var(--font-size-1);
    text-transform: capitalize;
}

a {}

a:visited {}

a[target="_blank"] {
    position: relative;
}

a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    background-image: url(/_shared/images/icons/icon-new-window.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-start: 3px;
    margin-inline-end: 5px;
}

a[href^="#"] {
    position: relative;
}

a[href^="#"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    background-image: url(/_shared/images/icons/icon-arrow-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-start: 3px;
    margin-inline-end: 5px;
}

/*
.##.....##.########.####.##.......####.########.####.########..######.
.##.....##....##.....##..##........##.....##.....##..##.......##....##
.##.....##....##.....##..##........##.....##.....##..##.......##......
.##.....##....##.....##..##........##.....##.....##..######....######.
.##.....##....##.....##..##........##.....##.....##..##.............##
.##.....##....##.....##..##........##.....##.....##..##.......##....##
..#######.....##....####.########.####....##....####.########..######.
*/

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flow>*+* {
    margin-block-start: var(--flow-space, 1em);
}

/* Change this to line height? */
svg:not([width]):not([height]) {
    height: 1.5ex;
    width: auto;
}

.pg-relative {
    position: relative;
}

@media not (scripting: enabled) {
    .pg-needs-js {
        display: none !important;
    }
}


@media screen and (min-width: 1200px) and (max-width:1700px) {}

@media (prefers-reduced-motion) {}

.pg-mbs-0 {
    margin-block-start: 0;
}

/*
 ######  ##    ## #### ########
##    ## ##   ##   ##  ##     ##
##       ##  ##    ##  ##     ##
 ######  #####     ##  ########
      ## ##  ##    ##  ##
##    ## ##   ##   ##  ##
 ######  ##    ## #### ##
*/

.pg-skip {
    text-align: center;
    display: grid;
    position: relative;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
}

.pg-skip:focus-within {
    grid-template-rows: 1fr;
}

.pg-skip>p {
    overflow: hidden;
    margin: 0;
}

.pg-skip>p>a {
    display: inline-block;
    padding-block: 1rem;
}

.pg-skip::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: calc(var(--space-2xs) * -1);
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
}

.pg-skip:focus-within::after {
    opacity: 1;
}

/*
##     ## ########    ###    ########
##     ## ##         ## ##   ##     ##
##     ## ##        ##   ##  ##     ##
######### ######   ##     ## ##     ##
##     ## ##       ######### ##     ##
##     ## ##       ##     ## ##     ##
##     ## ######## ##     ## ########
*/

header {
    --pg-header-padding-bottom: var(--space-2xs);
    display: block;

    background-color: var(--pg-colour-dark);
    height: var(--pg-header-height);
    width: 100%;
    /* border-block-start: var(--pg-header-padding-bottom) solid var(--pg-colour-dark); */
    /* border-block-end: var(--pg-header-padding-bottom) solid var(--pg-colour-dark); */
    padding-block-start: var(--pg-header-padding-bottom);
    padding-block-end: var(--pg-header-padding-bottom);
}

header>.pg-img-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--pg-max-width-header);
    margin: 0 auto;
    /* pointer-events: none; */
}

header picture {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

header picture>img {
    pointer-events: none;
    object-fit: cover;
    object-position: center center;
    /* height: calc(var(--pg-header-height) - (var(--pg-header-padding-bottom)*2)); */
    height: 100%;
    width: 100%;
}

nav {
    margin: 0 auto;
    display: block;
    height: 100%;
    position: relative;
}


nav>ul {
    list-style: none;
    display: flex;
    gap: var(--space-2xs);
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: var(--space-xs);
}

nav>ul>li {
    padding: 0;
    margin: 0;
}

nav>ul>li>a {
    border-block-start: 1px solid rgba(245, 245, 245, 1);
    border-inline-start: 1px solid rgba(245, 245, 245, 0.5);
    border-inline-end: 1px solid rgba(245, 245, 245, 0.5);
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}

nav>ul>li>a,
nav>ul>li>a:visited {
    font-size: var(--font-size-1);
    background-color: whitesmoke;
    background-color: var(--pg-colour-dark);
    color: whitesmoke;
    margin: 0;
    padding: var(--space-2xs) var(--space-xs) var(--space-3xs) var(--space-xs);
    text-decoration: none;
}

nav>ul>li>a:hover {
    text-decoration: underline;
}

nav>ul>li.pg-is-active>a {
    color: var(--pg-colour-highlight);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.pg-logo {
    position: absolute;
    top: var(--space-2xs);
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
    color: var(--pg-colour-dark);
    z-index: 100;
}

.pg-logo>svg {
    width: 100% !important;
    height: auto !important;
    max-width: var(--space-l);
}

/*
 ######   #######  ##    ## ######## ########   #######  ##
##    ## ##     ## ###   ##    ##    ##     ## ##     ## ##
##       ##     ## ####  ##    ##    ##     ## ##     ## ##
##       ##     ## ## ## ##    ##    ########  ##     ## ##
##       ##     ## ##  ####    ##    ##   ##   ##     ## ##
##    ## ##     ## ##   ###    ##    ##    ##  ##     ## ##
 ######   #######  ##    ##    ##    ##     ##  #######  ########
*/

.pg-image-control-container {
    position: relative;
    margin-block-start: var(--space-xs) !important;
}

.pg-image-control-container button,
.pg-image-control-container summary {
    padding: 0 var(--space-2xs);
    font-size: var(--font-size--1);
    height: 45px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

@media screen and (min-width: 600px) {

    .pg-image-control-container button,
    .pg-image-control-container summary {
        padding: 0 var(--space-s);
    }
}

.pg-image-control-container button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.pg-image-control-container details>summary,
.pg-image-controls button,
.pg-image-controls-steps {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.pg-image-control-container details>summary {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 12px;
    gap: 5px;
    width: fit-content;
    padding: 0 var(--space-2xs);
}

.pg-image-control-container details>summary>svg,
.pg-image-controls button>svg,
.pg-image-controls-steps>svg {
    width: 2rem !important;
    height: auto !important;
}

.pg-image-controls-steps>svg {
    color: #999;
}

.pg-image-control-container details>summary>svg:first-child {
    width: 1rem !important;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.pg-image-control-container details[open]>summary>svg:first-child {
    transform: rotate(180deg);
}

.pg-image-control-container details .pg-image-info-content-container {
    padding-block-start: 60px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

@media (scripting: enabled) {
    .pg-image-control-container details .pg-image-info-content-container {
        padding-block-start: var(--space-xs);
    }
}

.pg-image-control-container details[open] .pg-image-info-content-container {
    grid-template-rows: 1fr;
}

.pg-image-control-container details .pg-image-info-content {
    background-color: var(--pg-colour-dark);
    padding: var(--space-xs);
    color: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
}

.pg-image-controls {
    margin-inline-end: 90px;
}

.pg-image-controls {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: var(--space-2xs);
}

.pg-image-controls-steps {
    gap: var(--space-2xs);
    flex-wrap: nowrap;
}

/*
##          ###    ##    ##  #######  ##     ## ########
##         ## ##    ##  ##  ##     ## ##     ##    ##
##        ##   ##    ####   ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
##       #########    ##    ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
######## ##     ##    ##     #######   #######     ##
*/

.pg-full-height {
    display: grid;
    position: relative;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    /* padding-block-start: var(--space-xs); */
}

.pg-column-main {
    max-width: var(--pg-max-width);
    margin: 0 auto;
    padding: 0 var(--space-xs);
    width: 100%;
}

/*
##       ####  ######  ########  ######
##        ##  ##    ##    ##    ##    ##
##        ##  ##          ##    ##
##        ##   ######     ##     ######
##        ##        ##    ##          ##
##        ##  ##    ##    ##    ##    ##
######## ####  ######     ##     ######
*/

.pg-list {
    list-style: none;
    padding-inline-start: 0;
}

.pg-list time {
    color: var(--pg-colour-mid);
    margin-inline-start: var(--space-2xs);
}

/*
##    ##  #######  ######## ########  ######
###   ## ##     ##    ##    ##       ##    ##
####  ## ##     ##    ##    ##       ##
## ## ## ##     ##    ##    ######    ######
##  #### ##     ##    ##    ##             ##
##   ### ##     ##    ##    ##       ##    ##
##    ##  #######     ##    ########  ######
*/

.pg-list-notes {
    padding-inline-start: 0;
}

.pg-list-notes>li {
    background-color: var(--pg-colour-light-grey);
    margin-block-end: var(--space-2xs);
    padding: var(--space-2xs);
    border-radius: 5px;
}

.pg-list-notes>li>a {
    font-weight: bold;
}

.pg-list-notes>li>a::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(/_shared/images/icons/icon-note.svg);
    background-repeat: no-repeat;
    vertical-align: text-top;
}

.pg-list-notes>li .pg-tags-list {
    margin-block-start: var(--space-2xs);
}

/*
########    ###     ######    ######
   ##      ## ##   ##    ##  ##    ##
   ##     ##   ##  ##        ##
   ##    ##     ## ##   ####  ######
   ##    ######### ##    ##        ##
   ##    ##     ## ##    ##  ##    ##
   ##    ##     ##  ######    ######
*/

.pg-tags-container,
.pg-tags-list {
    display: flex;
    flex-wrap: wrap;
}

.pg-tags-list,
.pg-tags-container p {
    margin: 0;
}

.pg-tags-list {
    list-style: none;
    padding-inline-start: 0;
    gap: var(--space-2xs);
}

.pg-tag {
    position: relative;
    display: inline-block;
    width: fit-content;
    background-color: var(--pg-colour-dark);
    color: whitesmoke;
    padding: var(--space-3xs) var(--space-2xs);
    text-wrap: nowrap;
    padding-inline-start: var(--space-s);
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

.pg-tag::before {
    --pg-hole-size: var(--space-3xs);
    content: "";
    display: block;
    background-color: whitesmoke;
    width: var(--pg-hole-size);
    height: var(--pg-hole-size);
    position: absolute;
    left: calc(var(--space-3xs) + 4px);
    top: calc(var(--space-3xs) + 4px);
    transform: translateY(-50%);
    border-radius: 9999px;
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/

footer {
    /* display: flex;
    flex-direction: column;
    justify-items: center; */
    text-align: center;
    background-color: var(--pg-colour-dark);
    color: whitesmoke;
    padding: var(--space-xl);
    margin-block-start: var(--space-xl);
    gap: var(--space-xs);
}

footer a,
footer a:visited {
    color: whitesmoke;
}