@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url(/_shared/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Atkinson Hyperlegible Mono";
    src: url(/_shared/fonts/AtkinsonHyperlegibleMonoVF-Variable.woff2) format('woff2');
    font-display: swap;
}


/*
##     ##    ###    ########   ######
##     ##   ## ##   ##     ## ##    ##
##     ##  ##   ##  ##     ## ##
##     ## ##     ## ########   ######
 ##   ##  ######### ##   ##         ##
  ## ##   ##     ## ##    ##  ##    ##
   ###    ##     ## ##     ##  ######
*/

:root {
    interpolate-size: allow-keywords;

    /* FONT SCALE */
    /* --font-size--2: clamp(0.7813rem, 0.6356rem + 0.7283vw, 1.2rem);
    --font-size--1: clamp(0.9375rem, 0.7418rem + 0.9783vw, 1.5rem);
    --font-size-0: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --font-size-1: clamp(1.35rem, 1.0043rem + 1.7283vw, 2.3438rem);
    --font-size-2: clamp(1.62rem, 1.1643rem + 2.2783vw, 2.93rem);
    --font-size-3: clamp(1.9438rem, 1.3461rem + 2.988vw, 3.6619rem);
    --font-size-4: clamp(2.3325rem, 1.5516rem + 3.9043vw, 4.5775rem);
    --font-size-5: clamp(2.7994rem, 1.7829rem + 5.0826vw, 7.7219rem);

    --font-size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --font-size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --font-size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --font-size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --font-size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --font-size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --font-size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --font-size-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem); */

    --font-size--2: clamp(0.7813rem, 0.7302rem + 0.2554vw, 0.96rem);
    --font-size--1: clamp(0.9375rem, 0.8625rem + 0.375vw, 1.2rem);
    --font-size-0: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
    --font-size-1: clamp(1.35rem, 1.2rem + 0.75vw, 1.875rem);
    --font-size-2: clamp(1.62rem, 1.4132rem + 1.0339vw, 2.3438rem);
    --font-size-3: clamp(1.944rem, 1.6624rem + 1.4081vw, 2.9297rem);
    --font-size-4: clamp(2.3328rem, 1.953rem + 1.899vw, 3.6621rem);
    --font-size-5: clamp(2.7994rem, 2.2913rem + 2.5404vw, 4.5776rem);

    /* SPACE SCALE */
    --space-3xs: clamp(0.3125rem, 0.2473rem + 0.3261vw, 0.5rem);
    --space-2xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs: clamp(0.875rem, 0.6793rem + 0.9783vw, 1.4375rem);
    --space-s: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m: clamp(1.6875rem, 1.2962rem + 1.9565vw, 2.8125rem);
    --space-l: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl: clamp(3.375rem, 2.5924rem + 3.913vw, 5.625rem);
    --space-2xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
    --space-3xl: clamp(6.75rem, 5.1848rem + 7.8261vw, 11.25rem);

    --pg-font: "Atkinson Hyperlegible",
        Inter,
        Roboto,
        'Helvetica Neue',
        'Arial Nova',
        'Nimbus Sans',
        Arial,
        sans-serif;

    --pg-font-mono: "Atkinson Hyperlegible Mono", ui-monospace,
        'Cascadia Code',
        'Source Code Pro',
        Menlo,
        Consolas,
        'DejaVu Sans Mono',
        monospace;

    --pg-max-width: 50ch;
    --pg-border-body-top: 0.75rem;
    --pg-button-corners: 5px;
    --pg-flow-space: 0.9em;
    --pg-side-padding: var(--space-2xs);
    --pg-radius-round: 1e5px;
    --pg-column-padding: 1rem;
    --pg-colour-blue: #52fff6;
    --pg-colour-pink: #ee9bff;
    --pg-colour-dark-grey: #333;
    --pg-colour-mid-grey: #888;
    --pg-colour-column-bg: whitesmoke;


}

@media (prefers-color-scheme: dark) {
    :root {
        /* --rs-colour-ec-dark-blue: white; */
    }
}

/*
########     ###     ######  ########
##     ##   ## ##   ##    ## ##
##     ##  ##   ##  ##       ##
########  ##     ##  ######  ######
##     ## #########       ## ##
##     ## ##     ## ##    ## ##
########  ##     ##  ######  ########
*/

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    --pg-bg-alpha: 0.05;
    --pg-bg-size: 0.5rem;
    --pg-bg-position: calc(var(--pg-bg-size) / 2);
    --border-color: linear-gradient(to right,
            var(--pg-colour-blue),
            var(--pg-colour-pink));
    font-family: var(--pg-font);
    font-weight: normal;
    font-size: var(--font-size-0);
    background-color: white;
    color: var(--pg-colour-dark-grey);
    background-image: radial-gradient(circle at center,
            rgba(51, 51, 51, var(--pg-bg-alpha)) 1px,
            transparent 0), radial-gradient(circle at center, rgba(51, 51, 51, var(--pg-bg-alpha)) 1px, transparent 0);
    background-size: var(--pg-bg-size) var(--pg-bg-size);
    background-position: 0 0, var(--pg-bg-position) var(--pg-bg-position);
    border-top: var(--pg-border-body-top) solid var(--pg-colour-blue);
    border-image: var(--border-color) 1;
}

header,
main,
footer {
    background-color: var(--pg-colour-column-bg);
    padding-inline: var(--space-2xs);
    margin-block: 0;
}

@media screen and (min-width: 600px) {

    header,
    main,
    footer {
        padding-inline: var(--space-s);
    }
}

header {
    background-image: radial-gradient(circle at 8% -20%, var(--pg-colour-blue) 0%, transparent 26%),
        radial-gradient(circle at 37% -45%, var(--pg-colour-pink) 0%, transparent 40%);
    /* background-position: left top; */
}

*::selection {
    background-color: var(--pg-colour-pink);
}

/* *:focus-visible {
    outline: 2px solid var(--pg-colour-outline);
} */

p {
    max-width: var(--pg-max-width);
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    /* text-wrap: balance; */
}

h1 {
    font-size: var(--font-size-5);
    font-weight: 100;
    /* margin-block-start: var(--space-l);
    margin-block-end: var(--space-m); */
}

/* @media not (scripting: enabled) {
    h1 {
        margin-block-start: var(--space-xl);
    }
} */

h2 {
    font-size: var(--font-size-3);
    font-weight: 100;
    /* margin-block-start: var(--space-l);
    margin-block-end: var(--space-s); */
}

h3 {
    font-size: var(--font-size-1);
    font-weight: 400;
}


h4 {
    font-size: var(--font-size-1);
    text-transform: capitalize;
}


a {
    color: var(--pg-colour-dark-grey);
    background-color: var(--pg-colour-blue);
    outline: none;
    /* box-shadow: 0 0 var(--pg-colour-pink);
    transition: box-shadow 0.2s ease-in-out; */
}

/* a::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--pg-colour-pink);
} */

a:focus-visible,
a:hover {
    /* border: 2px solid var(--pg-colour-pink); */
    box-shadow: 5px 5px var(--pg-colour-pink);
}

a:visited {
    text-decoration: none;
}

a[target="_blank"] {
    position: relative;
}

a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    background-image: url(/_shared/images/icons/icon-new-window.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-start: 3px;
    margin-inline-end: 5px;
}

a[href^="#"] {
    position: relative;
}

a[href^="#"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    background-image: url(/_shared/images/icons/icon-arrow-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-start: 3px;
    margin-inline-end: 5px;
}

time {
    white-space: nowrap;
}

p>code,
li>code {
    background-color: var(--pg-colour-mid);
    border-block-start: 2px solid var(--pg-colour-mid);
    border-block-end: 2px solid var(--pg-colour-mid);
    color: whitesmoke;
    padding-inline: var(--space-3xs);
}

/*
.##.....##.########.####.##.......####.########.####.########..######.
.##.....##....##.....##..##........##.....##.....##..##.......##....##
.##.....##....##.....##..##........##.....##.....##..##.......##......
.##.....##....##.....##..##........##.....##.....##..######....######.
.##.....##....##.....##..##........##.....##.....##..##.............##
.##.....##....##.....##..##........##.....##.....##..##.......##....##
..#######.....##....####.########.####....##....####.########..######.
*/

.pg-visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.pg-flow>*+* {
    margin-block-start: var(--pg-flow-space, 1em);
}

/* Change this to line height? */
svg:not([width]):not([height]) {
    height: 1.5ex;
    width: auto;
}

.pg-relative {
    position: relative;
}

@media not (scripting: enabled) {
    .pg-needs-js {
        display: none !important;
    }
}


@media screen and (min-width: 1200px) and (max-width:1700px) {}

@media (prefers-reduced-motion) {}

.pg-mbs-0 {
    margin-block-start: 0;
}

/*
##          ###    ##    ##  #######  ##     ## ########
##         ## ##    ##  ##  ##     ## ##     ##    ##
##        ##   ##    ####   ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
##       #########    ##    ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
######## ##     ##    ##     #######   #######     ##
*/

/* http: //css-irl.info/breaking-out-of-a-central-wrapper/ */

.pg-full-height {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    padding-block-start: var(--space-m);
}

/* .pg-column-main {
    max-width: var(--pg-max-width);
    margin: 0 auto;
    padding: 0 var(--space-xs);
    width: 100%;
} */

.pg-column-main {
    display: grid;
    grid-template-columns:
        [full-start] 1fr [wrapper-start] minmax(0, var(--pg-max-width)) [wrapper-end] 1fr [full-end];
    column-gap: var(--pg-side-padding, 0.5rem);
}

.pg-column-main>* {
    grid-column: wrapper;
}

.pg-full-width {
    grid-column: full;
    padding: var(--pg-side-padding, 0.5rem);
}

/*
 ######  ##    ## #### ########
##    ## ##   ##   ##  ##     ##
##       ##  ##    ##  ##     ##
 ######  #####     ##  ########
      ## ##  ##    ##  ##
##    ## ##   ##   ##  ##
 ######  ##    ## #### ##
*/

.pg-skip {
    text-align: center;
    display: grid;
    position: relative;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
}

.pg-skip:focus-within {
    grid-template-rows: 1fr;
}

.pg-skip>p {
    overflow: hidden;
    margin: 0;
}

.pg-skip>p>a {
    display: inline-block;
    padding-block: 1rem;
}

.pg-skip::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: calc(var(--space-2xs) * -1);
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
}

.pg-skip:focus-within::after {
    opacity: 1;
}

/*
##     ## ########    ###    ########
##     ## ##         ## ##   ##     ##
##     ## ##        ##   ##  ##     ##
######### ######   ##     ## ##     ##
##     ## ##       ######### ##     ##
##     ## ##       ##     ## ##     ##
##     ## ######## ##     ## ########
*/

header {
    position: sticky;
    z-index: 100;
    top: calc((var(--pg-border-body-top) + var(--space-m) + var(--space-s) + var(--font-size-5) + 12rem) * -1);
    padding-block-start: var(--space-s);
    border-start-start-radius: var(--space-m);
    border-start-end-radius: var(--space-m);
}

header>h1 {
    margin-block-start: 0 !important;
    margin-block-end: var(--space-3xs);
}

header>h1,
header>h1+p {
    text-align: center;
}

header>h1+p {
    text-transform: uppercase;
    text-wrap: balance;
    margin-block-start: 0 !important;
    line-height: 1.2;
    /* margin-block-end: var(--space-m); */
}

header>picture img {
    max-width: min(var(--space-2xl), 30vw);
    height: auto;
    margin: 0 auto var(--space-s) auto;
    border-radius: 999px;
    box-shadow: 0 0 0 var(--space-3xs) var(--pg-colour-blue);
}

@media screen and (min-width: 600px) {

    header>h1,
    header>h1+p {
        text-align: left;
    }

    header>picture {
        position: absolute;
        right: var(--space-s);
    }
}

@media screen and (min-width: 850px) {
    header {
        top: calc((var(--pg-border-body-top) + var(--space-m) + var(--space-s) + var(--font-size-5) + 2rem) * -1);
    }
}

/*
##    ##    ###    ##     ##
###   ##   ## ##   ##     ##
####  ##  ##   ##  ##     ##
## ## ## ##     ## ##     ##
##  #### #########  ##   ##
##   ### ##     ##   ## ##
##    ## ##     ##    ###
*/

header>nav {
    z-index: 100;
    background-color: var(--pg-colour-column-bg);
    margin-block-start: var(--space-m) !important;
}

header>nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-3xs);
}

header>nav ul>li>a {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-3xs);
    text-decoration: none;
    background-color: var(--pg-colour-pink);
    padding: var(--space-3xs) var(--space-2xs);
    border-radius: var(--pg-button-corners);
    transition: background-color 0.2s ease-in;
}

header>nav ul>li>a.pg-is-active::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--pg-colour-column-bg);
    border-radius: 3px;
    /* transform: translateX(-30%) translateY(-30%); */
}

header>nav ul>li>a:focus-visible,
header>nav ul>li>a:hover {
    box-shadow: none;
    background-color: var(--pg-colour-blue);
}

header>nav ul>li>a>svg {
    display: inline-block;
    width: 1.5rem;
}


header>nav ul>li>a>span {
    display: none;
    font-size: var(--font-size--2);
    border-radius: 999px;
    min-width: 1.5rem;
    text-align: center;
    padding: 3px;
    margin-inline-start: var(--space-3xs);
    background-color: var(--pg-colour-blue);
    transition: background-color 0.2s ease-in;
}

header>nav ul>li>a:focus-visible>span,
header>nav ul>li>a:hover>span {
    background-color: var(--pg-colour-pink);
}

@media screen and (min-width: 652px) {
    header>nav ul>li>a {
        padding: var(--space-3xs) var(--space-3xs);
    }

    header>nav ul>li>a>span {
        display: inline-block;
    }
}

@media screen and (min-width: 850px) {
    header>nav {
        margin-block-start: var(--space-l) !important;
    }

    header>nav>ul {
        justify-content: start;
        margin-block-start: var(--space-m);
    }
}


/*
 ######   #######  ##    ## ########    ###     ######  ########
##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##
##       ##     ## ####  ##    ##     ##   ##  ##          ##
##       ##     ## ## ## ##    ##    ##     ## ##          ##
##       ##     ## ##  ####    ##    ######### ##          ##
##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##
 ######   #######  ##    ##    ##    ##     ##  ######     ##
*/

.pg-contact {
    margin-block-start: var(--space-m);
}

.pg-contact>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: var(--space-3xs);
}

.pg-contact>ul a::after {
    display: none !important;
}

.pg-contact>ul>li a {
    background-color: var(--pg-colour-mid-grey);
    color: white;
    display: flex;
    padding: var(--space-3xs);
    border-radius: var(--pg-radius-round);
    transition: background-color 0.2s ease-in;
}

.pg-contact>ul>li a:hover,
.pg-contact>ul>li a:focus-visible {
    background-color: var(--pg-colour-dark-grey);
    box-shadow: none;
}

@media screen and (min-width: 850px) {
    .pg-contact {
        position: fixed;
        top: calc(var(--pg-border-body-top) + var(--space-m) + var(--space-s));
        left: calc(50% + (var(--pg-max-width) / 2) - 1.5rem);
        margin-block-start: 0;
        transform: translateX(100%);
    }

    .pg-contact>ul {
        flex-direction: column;
    }
}

/*
########    ###     ######    ######
   ##      ## ##   ##    ##  ##    ##
   ##     ##   ##  ##        ##
   ##    ##     ## ##   ####  ######
   ##    ######### ##    ##        ##
   ##    ##     ## ##    ##  ##    ##
   ##    ##     ##  ######    ######
*/

.pg-tags {
    overflow-x: auto;
    scrollbar-color: var(--pg-colour-pink) white;
    z-index: 100;
    background-color: var(--pg-colour-column-bg);
}

.pg-tags>ul {
    list-style: none;
    display: flex;
    gap: var(--space-3xs);
    padding-block-end: var(--space-3xs);
}

.pg-tags>ul>li>a {
    display: inline-block;
    white-space: nowrap;
    background-color: var(--pg-colour-blue);
    padding-block: 7px;
    padding-inline: var(--space-3xs);
    text-decoration: none;
    border-radius: var(--pg-button-corners);
    font-size: var(--font-size--1);
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    transition: background-color 0.2s ease-in;
}

.pg-tags>ul>li>a:hover,
.pg-tags>ul>li>a:focus-visible {
    box-shadow: none;
    background-color: var(--pg-colour-pink);
    text-decoration: underline;
}

/*
##       ####  ######  ########  ######
##        ##  ##    ##    ##    ##    ##
##        ##  ##          ##    ##
##        ##   ######     ##     ######
##        ##        ##    ##          ##
##        ##  ##    ##    ##    ##    ##
######## ####  ######     ##     ######
*/

.pg-list {
    list-style: none;
    padding-inline-start: 0;
}

.pg-list time {
    color: var(--pg-colour-mid);
    margin-inline-start: var(--space-2xs);
}

.pg-list-notes,
.pg-list-reading {
    padding-inline-start: 0;
}

.pg-list-notes>li,
.pg-list-reading>li {
    background-color: var(--pg-colour-light-grey);
    margin-block-end: var(--space-2xs);
    padding: var(--space-2xs);
    border-radius: 5px;
}

.pg-list-reading>li>p {
    margin: 0;
}

.pg-list-notes>li>a,
.pg-list-reading>li>p>a {
    font-weight: bold;
}

.pg-list-notes>li>a::before,
.pg-list-reading>li>p>a::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(/_shared/images/icons/icon-note.svg);
    background-repeat: no-repeat;
    vertical-align: text-top;
}

.pg-list-reading>li>p>a::before {
    background-image: url(/_shared/images/icons/icon-book.svg);
    margin-inline-end: var(--space-2xs);
}

.pg-list-notes>li .pg-tags-list,
.pg-list-reading>li .pg-tags-list {
    margin-block-start: var(--space-2xs);
}

/*
########  ########    ###    ########
##     ## ##         ## ##   ##     ##
##     ## ##        ##   ##  ##     ##
########  ######   ##     ## ##     ##
##   ##   ##       ######### ##     ##
##    ##  ##       ##     ## ##     ##
##     ## ######## ##     ## ########
*/

.pg-read-label {
    color: var(--pg-colour-mid);
}

.pg-list-reading>li[data-media="video"]>p>a::before {
    background-image: url(/_shared/images/icons/icon-video.svg);
}

.pg-list-reading>li[data-media="podcast"]>p>a::before {
    background-image: url(/_shared/images/icons/icon-podcast.svg);
}

/*
########    ###     ######    ######
   ##      ## ##   ##    ##  ##    ##
   ##     ##   ##  ##        ##
   ##    ##     ## ##   ####  ######
   ##    ######### ##    ##        ##
   ##    ##     ## ##    ##  ##    ##
   ##    ##     ##  ######    ######
*/

.pg-tags-container,
.pg-tags-list {
    display: flex;
    flex-wrap: wrap;
}

.pg-tags-list,
.pg-tags-container p {
    margin: 0;
}

.pg-tags-list {
    list-style: none;
    padding-inline-start: 0;
    gap: var(--space-2xs);
}

.pg-tag {
    position: relative;
    display: inline-block;
    width: fit-content;
    background-color: var(--pg-colour-dark);
    color: whitesmoke;
    padding: var(--space-3xs) var(--space-2xs);
    text-wrap: nowrap;
    padding-inline-start: var(--space-s);
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    font-size: var(--font-size--1);
}

.pg-tag::before {
    --pg-hole-size: var(--space-3xs);
    content: "";
    display: block;
    background-color: whitesmoke;
    width: var(--pg-hole-size);
    height: var(--pg-hole-size);
    position: absolute;
    left: calc(var(--space-3xs) + 4px);
    top: calc(var(--space-3xs) + 4px);
    transform: translateY(-50%);
    border-radius: 9999px;
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/