---
title: I was nesting lists wrong!
published: 2023-11-23
updated: 2023-11-24
tags: ["accessibility", "html"]
draft: false
---

{# https://www.hoeser.dev/blog/2023-02-01-syntax-highlight/ #}

<h2>Old way</h2>

{% highlight "html" %}
<ul>
    <li>Bad</li>
    <ul>
        <li>Notice this list is on its own line</li>
        <li>Bad</li>
    </ul>
    <li>Bad</li>
    <li>Bad</li>
</ul>
{% endhighlight %}

<h2>Correct way</h2>

{% highlight "html" %}
<ul>
    <li>Good</li>
    <li>Gooderrer:
        <ul>
            <li>The nested list should be inside a parent list item with some text to introduce the nested list.</li>
            <li>Good</li>
        </ul>
    </li>
    <li>Good</li>
    <li>Good</li>
</ul>
{% endhighlight %}

<a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals#nesting_lists">https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals#nesting_lists</a>