---
title: Notes (PG Tips?)
layout: base
jsFiles: []
override:tags: []
eleventyNavigation:
  key: notes
  order: 2
---
<article>
  <div class="pg-column-main">
    <h1>Notes</h1>
    <p>These notes will include coding techniques I'm using. You could almost call them PG tips....</p> 
  
    {% set notelist = collections.note %}
    {% set noteIcon = "note" %}
    {% include "note-list.njk" %}
  </div>
</article>
