---
title: Notes (PG Tips?)
layout: base
jsFiles: []
override:tags: []
eleventyNavigation:
  key: notes
  order: 2
---


<article  class="pg-flow">
  <h2>Notes</h2>
  <p>This is my blog.</p> 
  {% set cardList = collections.note %}
  {% set excludeTags = ["note"] %}
  {% set cardLimit = 999999 %}
  {% set cardSummary = "summary" %}
  {% set cardIcon = "icon-pencil" %}
  {% include "card-list.njk" %}
  {# <p class="pg-read-more"><a href="/notes/">Read all notes ↪</a></p> #}
</article>
