---
title: "Naked web components"
cssFiles: ["./css/index.css"] 
jsFiles: ["./js/index.js"]
jsImports: [{name: "module1", path: "./js/packages/module1.js"},{name: "module2", path: "./js/packages/module2.js"}]
tags: ["web components", "javascript"]
publish: 2025-07-01T17:22:00.000Z
draft: true
summary: "Introducing a new web component library: Naked Web Components! Why naked? Well, they focus purely on elements and functionality and try to get out of the way as much as possible where styling is concerned. They are scarily ugly :-)"
---

<img style="float:left;margin-inline-end: 1em;margin-block-start:1em; max-width:180px;" src="./images/skeleton.png" alt="Naked web components logo which is a cartoon skeleton">

<p>Naked Web Components is a library of '<strong>bare-bones</strong>' (hahahahahaha) components that focus on functionality without theming or style. I'm building out the library in public.</p>

<p>Themed components like <a href="https://shoelace.style/" target="_blank">Shoelace</a> are great for quickly implementing good-looking UIs, but I often found that when we already had an application theme, I was spending a fair bit of time resetting or fighting against the theme to match the rest of the app.</p>

<p>DONE fix tags, filter out category tags</p>
<p>DONE Write readme for sort</p>
<p>DONE Ask Chris Ferdinandi re licences</p>
<p>Add demo page on my website</p>
<p>Write naked components parent page with licences</p>

<p><a href="./naked-table-sort/">naked-table-sort</a></p>