.pg-table-overflow {
    overflow: auto;
}

table.pg-demo-table {
    width: 100%;
    min-width: 850px;
}

table.pg-demo-table thead {
    position: sticky;
    top: calc(var(--space-xl) + var(--space-2xs));
    background-color: var(--pg-colour-dark-grey);
    color: white;
    font-weight: bold;
}

table.pg-demo-table thead button[data-sort] {
    font: revert;
}

table.pg-demo-table tbody {
    background-color: white;
}

table.pg-demo-table th,
table.pg-demo-table td {
    padding: var(--space-2xs) var(--space-3xs);
}

div[data-scroll-container] {
    top: var(--space-3xl) !important;
}

fieldset.pg-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--space-2xs);
}

naked-filter>div>input,
naked-filter>div>select {
    /* font: revert !important; */
    padding: 0.25em;
}

button[data-clear-filters] {
    margin-block-start: 1rem;
}